.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  .logo {
    padding: 4rem 0;
    @include respond-to("lg") {
      padding: 2rem 0;
    }
  }
  p {
    padding-bottom: 2rem;
    @include respond-to("lg") {
      font-size: 1.8rem;
    }
    @include respond-to("md") {
      font-size: 1.2rem;
    }
  }
}
