header {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  @include respond-to("lg") {
    width: 90%;
  }
  @include respond-to("md") {
    width: 100%;
    padding: 1rem 2rem;
  }
}
