.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 28.8rem;
    font-weight: 700;
    color: $accent-color;
    margin: 4rem auto;
    @include respond-to("lg") {
      font-size: 9.6rem;
    }
  }
  &__message {
    font-size: 3.6rem;
    font-weight: 500;
    color: $accent-color;
    margin: 2rem auto 4rem auto;
    @include respond-to("lg") {
      font-size: 1.8rem;
      margin: 8rem auto 8rem auto;
    }
  }
  &__link {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: underline;
    margin: 2rem 0;
    @include respond-to("lg") {
      font-size: 1.4rem;
      margin: 4rem 0;
    }
  }
}
