.slider-container {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .arrow-L {
    cursor: pointer;
    position: absolute;
    left: 1rem;
    .icon-chevron {
      font-size: 4rem;
      color: $light-color;
      @include respond-to("lg") {
        font-size: 2.5rem;
      }
      @include respond-to("md") {
        font-size: 2rem;
      }
    }
  }
  .arrow-R {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    .icon-chevron {
      font-size: 4rem;
      color: $light-color;
      @include respond-to("lg") {
        font-size: 2.5rem;
      }
      @include respond-to("md") {
        font-size: 2rem;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
