.section-logement {
  background-color: $bg-color;
  border-radius: 4rem;
  margin-top: 4rem;
  @include respond-to("lg") {
    background-color: $light-color;
  }

  .thumb-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 3rem;
    @include respond-to("lg") {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }
    @include respond-to("md") {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
