.section-details {
  margin: 2rem 0;
  .logement-header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .logement-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    .rating-list,
    .tag-list {
      display: flex;
      align-items: center;
    }
  }
  .dropdown-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    @include respond-to("lg") {
      flex-direction: column;
    }
    .dropdown {
      width: 50%;
      @include respond-to("lg") {
        width: 100%;
      }
    }
  }
}
