.section-details {
  margin: 2rem 0;
  .logement-header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .logement-info {
    display: flex;
    justify-content: space-between;
    .rating-list {
      display: flex;
    }
  }
  .dropdown-container {
    display: flex;
    gap: 2rem;
    .dropdown {
      width: 50%;
    }
  }
}
